@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@font-face {
    font-family: 'romanus';
    src: url(fontes/ROMANUS.otf);
}
*{
    padding: 0%;
    margin: 0%;
}
:root{
    --cor1 :#7b82e063;
    --cor2 :#000DC7;
    --cor3 :#000994;
    --cor4 :#171A47;
    --cor5 :#000547;
    --Padrão:Arial, Helvetica, sans-serif;
    --Cinzelh2: 'Cinzel', serif;
    --romanus:'romanus',serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}
body{

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}
a{
    text-decoration: none;
}
header {
    color: white;
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor3),var(--cor5));
    background-image: url('imagens/imgfundo2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px;
}
header h1{
    font-family: var(--fonte-destaques);
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-top: 10px;
}
header p{
    text-align: justify;
    font-size: 1.2em;
    margin: auto;
    padding: 30px;
    max-width: 500px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.123);
    font-family: Arial, Helvetica, sans-serif;
}
#burgue{
    display: none;
    text-align: end;
    font-size: 3em;
}
#menu{
    display: block;
}
nav a{
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-family: var(--Padrão);
    font-weight: bold;
}
nav a:hover{
    background-color:#ffffff57;
    transition-duration: 1.5s;
}
h2{
    text-align: center;
    font-family: var(--romanus);
    font-size: 3em;
    font-weight: bolder;
    color: white;
}
#personagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#personagens img{
    flex:1 1 50px;
}
article{
    text-align: justify;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 0px 10px;
}
article p{
    line-height: 30px;
    text-indent: 25px;
}

footer{
    text-align: center;
    margin: auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
}
footer img{
    padding: 10px;
    margin: 10px;
}
footer img:hover{
    background-color: white;
    border-radius: 50%;
    transition: 1.5s;
}
#venti{
    padding: 0px 55.5px;
    background-image: url("curiosidades/cos-vent.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 2px;
    border-radius: 7px;
}
#shogun{
    padding:0 14.5px;
    background-image: url("curiosidades/cos-shogun.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 2px;
}
#nahida{
    background-image: url("curiosidades/cos-nahida.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    padding:0 14.5px;
    margin: 2px;
}
#zhongli{
    background-image: url("curiosidades/cos-zhongli.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 2px;
}
@media (max-width:600px) {

    ::-webkit-scrollbar{
        width: 0px;      
    }
    #burgue{
        display: block;
        text-align: end;
        font-size: 3em;
    }
    #menu{
        display: none;
    }
    
    ::-webkit-scrollbar-thumb{
        width: 10px;
        background-color: transparent;
    }
    body{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
    }
    a{
        text-decoration: none;
    }
    header {
        color: white;
        background-image: linear-gradient(to bottom,var(--cor2),var(--cor3),var(--cor5));
        background-image: url('imagens/imgfundo2.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 10px;
    }
    header h1{
        font-family: var(--fonte-destaques);
        text-align: center;
        font-size: 1.5em;
        font-weight: bolder;
        padding-top: 10px;
    }
    header p{
        text-align: justify;
        font-size: 1em;
        margin: auto;
        padding: 30px;
        max-width: 500px;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.123);
        font-family: Arial, Helvetica, sans-serif;
    }
    h2{
        text-align: center;
        font-family: var(--romanus);
        font-size: 2em;
        font-weight: bolder;
        color: white;
    }
    nav a{
        color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        font-family: var(--Padrão);
        font-weight: bold;
    }
    nav a:hover{
        background-color:#ffffff57;
        transition-duration: 1.5s;
    }
    #personagens{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    #personagens img{
        flex:1 1 50px;
    }
    article{
        text-align: justify;
        max-width: 1000px;
        min-width: 300px;
        margin: auto;
        padding: 0px 5px;
    }
    article p{
        line-height: 30px;
        text-indent: 25px;
    }
    
    footer{
        text-align: center;
        margin: auto;
        max-width: 1000px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1.2em;
    }
    footer img{
        padding: 10px;
        margin: 10px;
    }
    footer img:hover{
        background-color: white;
        border-radius: 50%;
        transition: 1.5s;
    }
    #venti{
        padding: 0px 55.5px;
    }
    #shogun,#nahida{
        padding:0 14.5px;
    }
    #venti{
        background-image: url("curiosidades/cos-vent.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
        border-radius: 7px;
    }
    #shogun{
        background-image: url("curiosidades/cos-shogun.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
    #nahida{
        background-image: url("curiosidades/cos-nahida.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
    #zhongli{
        background-image: url("curiosidades/cos-zhongli.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
}
@media (max-width:410px){
    .altura{
        height: 390px;
        
    }
    article{
        text-align: justify;
        max-width: 1000px;
        min-width: 300px;
        margin: auto;
        padding: 0px ;
    }
    .ar{
        width: 100%;
        height: 397px;
        text-align: center;
    }
    #venti{
        padding: 0px ;
    }
    #shogun,#nahida{
        padding:0 14.5px;
    }
    #venti{
        background-image: url("curiosidades/cos-vent.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
        border-radius: 7px;
    }
    #shogun{
        background-image: url("curiosidades/cos-shogun.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
    #nahida{
        background-image: url("curiosidades/cos-nahida.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
    #zhongli{
        background-image: url("curiosidades/cos-zhongli.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        margin: 2px;
    }
}

